*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    background-color: magenta;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.container
{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 100%;
}
.card
{
    width: 200px;
    text-align: center;
    background-color: black;
    color: white;
    
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
.plus
{
    background-color: magenta;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right:10px;
    padding: 10px;
    z-index:2;
}

/* //style overlay */
.overlay
{
    position: absolute;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    color:white;
    opacity: 0.8;
    display: none;

}
.user-form
{
    position: absolute;
    width: 40%;
    background-color: white;
    color: black;
    left:30%;
    top:40%;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.user-form p
{
    margin: 10px;
}
.user-form button{
    background-color: magenta;
    padding:10px;
    margin: 10px;
}